.guest-counter {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 17.57px;

  margin-bottom: 52px;

  h4 {
    color: var(--primary-color);
    font-weight: 700;
    
    margin-bottom: 1px;
  }

  h5 {
    color: #BDBDBD;
    font-weight: 400;
    
    margin-bottom: 12px;
  }

  .counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .count {
    display: flex;
    align-items: center;

    height: 24px;
    margin: 0 16px;
    
    font-size: 14px;
    line-height: 17.57px;
    font-weight: 700;
  }

  button {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    color: var(--primary-color);
    background-color: transparent;

    outline: none;
    border: 1px solid #828282;
    border-radius: 4px;
  }
}