nav.app__navbar {
  justify-content: space-between;

  max-height: 155px;
  width: 100%;
  padding: 32px 95px 50px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  background-color: #fff;
}

.app__navbar-logo {
  width: 96px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.app__navbar-expanded {
  position: fixed;
  top: 140px;
  right: 0;
  left: 0;
  z-index: 2;
  min-height: 269px;

  padding: 0px 95px 20px;

  background-color: #fff;

  display: flex;
  flex-direction: row;

  .app__navbar-counters {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 35%;
    padding-left: 27px;
  }
}

@media screen and (max-width: 600px) {
  nav.app__navbar {
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 36px;

    max-height: 255px;
  }

  .app__navbar-expanded {
    top: 255px;

    .app__navbar-counters {
      margin-left: 0;
      padding-left: 0;

      align-items: center;
    }
  }
}

@media screen and (max-width: 450px) {
  nav.app__navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 22px;
  }
}
