@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  /* Colors */
  --accent-color: #eb5757;
  --primary-color: #333333;
  --gray-dark: #4f4f4f;
  --gray-light: #828282;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
